<div>
    <div class="kartica-za-evidenciju-datatable-heading">
        <h1 class="display-4">Kartice za evidenciju</h1>
    </div>
    <div *ngIf="validacionaPoruka" class="alert alert-danger" role="alert">
        {{validacionaPoruka}}
    </div>
    
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="tekstPretrage" placeholder="Pretraga..." aria-label="Sadrzaj pretraga"
            (keyup)="pretraziNaEnter($event)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="pretraziKarticeZaEvidenciju()">Pretrazi</button>
            </div>
        </div>
    </div>
    
    <table class="table table-striped table-hover" id="myTable">
        <thead>
            <tr id="column_names_row">
                <th>RB</th>
                <th>Sifra</th>
                <th>Broj Uputa</th>
                <th>Naziv Pacijenta</th>
                <th>Naziv Usluge</th>
            </tr>
        </thead>
        <tbody id="karticeTableBody">
            <tr *ngFor="let kartica of filtriraneKariceZaEvidenciju | paginate: paginationConfig">
                <td>{{karticeZaEvidenciju.indexOf(kartica) + 1}}</td>
                <td>{{kartica.sifraKartice}}</td>
                <td>{{kartica.brojUputa}}</td>
                <td>{{kartica.uputZaTerapiju.pacijent.imePrezime}}</td>
                <td>{{kartica.nazivUsluge}}</td>
                <td><a class="btn btn-primary" (click)="prikaziKarticuZaEvidenciju(kartica)">Prikazi</a></td>
                <td><a class="btn btn-primary" (click)="obrisiKarticuZaEvidenciju(kartica)">Obrisi</a></td>
            </tr>    
        </tbody>
    </table>
    <div class="table-pagination">
        <pagination-controls id="karticeZaEvidencijuPagination" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>
