@model WebApp.ViewModels.AnalizaViewModel;
@{
    ViewData["Title"] = "ShowAll";
}

<h2>Prikaz svih analiza</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <hr />
            <div class="container-fluid">

                @if (Model.ErrorMessage != null && Model.ErrorMessage != "")
                {
                    <div class="alert alert-warning" id="poruka-info">
                        <div class="poruka">
                            @Html.LabelFor(model => model.ErrorMessage, Model.ErrorMessage)
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" id="poruka-info" hidden>
                        <div class="poruka">
                        </div>
                    </div>
                }

                <div class="container-fluid">
                    <div class="row">
                        <div id="custom-search-input">
                            <div class="input-group col-md-6">
                                <input id="analizePretraga" type="text" class="search-query form-control" placeholder="Pretrazi" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" onclick="filterAnalize()"> @*TODO// filter funkcija*@
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-hover" id="myTable">
                        <thead>
                            <tr id="column_names_row">
                                <th>RB</th>
                                <th>ID</th>
                                <th>Naziv</th>
                            </tr>
                        </thead>
                        <tbody id="analizeTableBody">
                            @for(int i = 0; i < Model.Analize.Count(); i++)
                            {
                                <tr style="text-align: left;">
                                    <td>@(i + 1)</td>
                                    <td>@Model.Analize.ElementAt(i).SifraAnalize</td>
                                    <td class="nazivAnalize">@Model.Analize.ElementAt(i).NazivAnalize</td>
                                    <td><a href="/Analiza/Prikazi/@Model.Analize.ElementAt(i).SifraAnalize">Prikazi</a></td>
                                    <td><a href="/Analiza/Obrisi/@Model.Analize.ElementAt(i).SifraAnalize" onclick="return confirm('Da li ste sigurni da zelite da obrisete ovu analizu?')">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>